      <div class="row">
        <div class="col-md-12">
          <label for="filterBy">Search or filter</label>
          <input type="text" id="filterBy" ng-model="filterBySelected" typeahead="match as match.name for match in filterBy($viewValue)" typeahead-template-url="filterByTemplate.html" typeahead-loading="loadingFilterBy" class="form-control">
        </div>
      </div>

      <div class="row top10">
        <div class="col-md-12">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>Sender</th>
                <th>Pages</th>
                <th>Tags</th>
            </thead>
            <tbody ng-cloak>
              <tr ng-repeat="document in searchResults">
                <td>
                  <a href="{{ viewUrl(document.id) }}">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                  </a>
                </td>
                <td>
                  <a href="{{ viewUrl(document.id) }}">
                    {{ document.date }}
                  </a>
                </td>
                <td>
                  <a href="{{ viewUrl(document.id) }}">
                    {{ document.sender }}
                  </a>
                </td>
                <td>{{ document.pages }}</td>
                <td>
                  <span ng-repeat="tag in document.tags">
                    <span class="label label-primary" >{{ tag }}</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- templates -->
      <script type="text/ng-template" id="filterByTemplate.html">
        <a>
          <span ng-bind-html="match.label | typeaheadHighlight:query"></span>
          <small><em><span class="match-type pull-right">&nbsp;&nbsp;&nbsp;<span ng-bind-html="match.model.type"></span></span></em></small>
        </a>
      </script>
