    <nav class="navbar navbar-default" ng-controller="NavbarCtrl">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=".">PaperJam</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="{collapse: isCollapsed}">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isCurrentPage('/list')}"><a href="list">List</a></li>
            <li ng-class="{active: isCurrentPage('/find')}"><a href="find">Find</a></li>
            <li ng-class="{active: isCurrentPage('/add')}"><a href="add">Add</a></li>
            <li ng-class="{active: isCurrentPage('/organise')}">
              <a href="organise" ng-controller="UnorganisedCtrl">
                Organise <span class="badge" ng-show="unorganisedData.unorganised.length > 0" ng-cloak>
                  {{ unorganisedData.unorganised.length }}
                </span>
              </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <!-- ALERTS -->
    <div class="container" ng-controller="AlertCtrl">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-cloak>{{alert.msg}}</alert>
    </div>

