      <tabset>
        <tab heading="Select pages" active="vm.organiseTabs.select">
          <p>Select the pages you want to staple together to form a document.</p>
          <div class="row" ng-show="vm.unorganisedData.unorganised.length > 0">
            <div class="col-md-3" ng-repeat="page in vm.unorganisedData.unorganised" ng-click="vm.selectPage($index)" ng-class="{clearfix: ($index % 4 == 0 && $index > 0)}">
              <div class="page-picker-page" ng-class="{'page-picker-page-selected': (vm.selectedPageIndices.indexOf($index) != -1)}">
                <img class="center-block img-thumbnail" ng-src="{{vm.urls.thumbnailUrl(page.thumbnails[0])}}">
                <div class="page-picker-text text-center">
                  <span ng-if="page.thumbnails.length > 1">{{ page.thumbnails.length }} pages</span><br>
                  <a href="" ng-click="vm.viewPage(page.large[0], page.original); $event.stopPropagation()">{{ page.original }}</a>
                </div>
              </div>
            </div>
          </div>
          <p>
            Proceed to the next tab to proceed with creating a document, or <button class="btn btn-danger" type="button" ng-click="vm.deleteSelected()">Delete the selected pages</button>
          </p>
        </tab>
        <tab heading="Order" active="vm.organiseTabs.order">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Filename</th>
                <th>Reorder</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="page in vm.selectedPages">
                <td>{{ $index + 1 }}</td>
                <td><a href="{{ vm.urls.fileUrl(page.original) }}" target="_blank">{{ page.original }}</a></td>
                <td>
                  <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary" ng-disabled="$first" ng-click="vm.moveUp($index)"><span class="glyphicon glyphicon-arrow-up"></span></button>
                    <button type="button" class="btn btn-primary" ng-disabled="$last" ng-click="vm.moveDown($index)"><span class="glyphicon glyphicon-arrow-down"></span></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <!--<tab heading="Sender, date, tags" disable="selectedPages.length == 0">-->
        <tab heading="Sender, date, tags" active="vm.organiseTabs.sender">
          <form name="newDocumentForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="newEntrySender">Sender</label>
                  <input type="text" class="form-control" id="newEntrySender" ng-model="vm.newEntryInfo.sender" typeahead="sender for sender in vm.senders | filter:$viewValue | limitTo:8" required>
                </div>
              </div>
              <div class="col-md-6">
                <label>Related tags</label>
                <!-- TODO: return the amount of times a tag has been used for this sender,
                     order the tags by this number, and perhaps show the number as a
                     badge next to the tag? -->
                <p>
                  <span ng-repeat="tag in vm.newEntryInfo.relatedTags">
                    <span class="label label-primary clickable-label" ng-click="vm.addTag(tag.name)" tooltip="Times used: {{ tag.count }}" tooltip-popup-delay="500">{{ tag.name }}</span>
                  </span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="newEntryDate">Date</label>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="vm.datePicker.dt" is-open="vm.datePicker.opened" datepicker-options="vm.datePicker.options" ng-required="true" close-text="Close" id="newEntryDate" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.datePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="newEntryTags">Tags</label>
                  <p class="input-group">
                    <input type="text" class="form-control" id="newEntryTags" ng-model="vm.newEntryInfo.tag" typeahead="tag for tag in vm.tags | filter:$viewValue | limitTo:8">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.addTag(vm.newEntryInfo.tag)"><i class="glyphicon glyphicon-plus"></i></button>
                    </span>
                  </p>
                  <p>
                    <span ng-repeat="tag in vm.newEntryInfo.tags">
                      <span class="label label-primary clickable-label" ng-click="vm.removeTag($index)">{{ tag }}</span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary" ng-click="vm.createDocument()">Create document</button>
              </div>
            </div>
          </form>
        </tab>
      </tabset>

    <!-- DIALOGS -->
    <script type="text/ng-template" id="confirmDeleteContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Delete selected pages?</h3>
      </div>
      <div class="modal-body">
        The selected pages will be permanently deleted from both disk and database,
        and can not be recovered! Are you sure?
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" ng-click="vm.ok()">Delete</button>
        <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
      </div>
    </script>
