body {
	background-color: white;
	font-family: "Arial", "Verdana", sans-serif;
}

@font-face {
  font-family: MomsTypewriter;
  src: url(images/MomsTypewriter.ttf);
}

/* Angular stuff */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-brand {
  font-family: 'MomsTypewriter';
}

.clearfix {
	clear: both;
}

progress {
	display: none;
}

img.image_picker_image {
  height: 200px;
}

.thumbnail.selected a.image-picker-thumbnail-link {
  color: white;
}

.clickable-label {
  cursor: pointer;
}

.match-type {
  color: #337ab7;
}

.active .match-type {
  color: white;
}

.top10 { margin-top: 10px; }
.top30 { margin-top: 30px; }

.page {
  width: 220px;
  float: left;
  font-size: 0.8em;
  border: 2px dashed white;
  margin: 10px;
}

.page-selector {
  display: none;
}

.page img {
  width: 142px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.page input {
  display: block;
  margin: 10px auto;
}

.page-viewer img {
  width: 100%;
}

.page-picker-page {
  border: 1px #ddd solid;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}

.page-picker-page-selected {
  background-color: #337ab7;
}

.page-picker-page-selected .page-picker-text a {
  color: white;
}
