body {
	background-color: white;
	font-family: "Arial", "Verdana", sans-serif;
}

@font-face {
  font-family: MomsTypewriter;
  src: url(images/MomsTypewriter.ttf);
}

/* Angular stuff */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-brand {
  font-family: 'MomsTypewriter';
}

.clearfix {
	clear: both;
}

progress {
	display: none;
}

.clickable-label {
  cursor: pointer;
}

.match-type {
  color: #337ab7;
}

.active .match-type {
  color: white;
}

.top10 { margin-top: 10px; }
.top30 { margin-top: 30px; }

.page-viewer img {
  /*width: 100%;*/
}

.view-page {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-picker-page {
  border: 1px #ddd solid;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

.page-picker-page-selected {
  background-color: #337ab7;
}

.page-thumb-wrapper {
  display: inline-block;
  position: relative;
}

.page-thumb-placeholder {
  position: relative;
  width: 142px;
  height: 200px;
}

.page-thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.page-thumb-overlay {
  position: absolute;
  top: 80px;
  left: 40px;
  z-index: 1;
  font-size: 48px;
  background-color: rgba(25, 25, 25, 0.7);
  color: rgb(200, 200, 200);
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  cursor: default;
}

.page-picker-page-selected .page-picker-text,
.page-picker-page-selected .page-picker-text a {
  color: white;
}

.modal-header .pagination {
  margin: 0;
  vertical-align: middle;
}

.glyphicon.spinning {
    animation: spin 1.5s infinite linear;
    -webkit-animation: spin2 1.5s infinite linear;
    font-size: 48px;
    text-align: center;
    display: block;
    color: #ccc;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
