    <div ng-show="data.document !== null">
      <div class="row">
        <div class="col-md-4">
          <label>Date</label>
          <p ng-cloak>{{ data.document.date }}</p>
        </div>
        <div class="col-md-4">
          <label>Sender</label>
          <p ng-cloak>{{ data.document.sender }}</p>
        </div>
        <div class="col-md-4">
          <label>Tags</label>
          <p>
            <span ng-repeat="tag in data.document.tags" ng-cloak>
              <span class="label label-primary">{{ tag }}</span>
            </span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Pages</label>
          <div id="pages">
            <div class="page" ng-repeat="page in data.document.pages">
              <!--<a href="{{ fileUrl(page) }}" target="_blank">-->
              <a href="#" ng-click="viewPage(fileUrl(page))">
                <img ng-src="{{ fileUrl(page) }}" alt="{{ page }}">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Actions</label>
          <div>
            <button type="button" class="btn btn-danger" ng-click="deleteDocument()">Delete document</button>
          </div>
        </div>
      </div>
    </div>

    <!-- dialogs -->
    <script type="text/ng-template" id="confirmDeleteDocument.html">
      <div class="modal-header">
        <h3 class="modal-title">Delete current document?</h3>
      </div>
      <div class="modal-body">
        The information about this document will be lost, but the pages will be
        kept and considered unorganised. They may be deleted at the Organise page.
        Are you sure?
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">Delete</button>
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="viewPage.html">
      <div class="modal-header">
        <button class="btn btn-default" ng-click="openTab()">Open in new window</button>
        <button class="btn btn-primary" ng-click="cancel()">Close</button>
      </div>
      <div class="modal-body page-viewer">
        <img ng-src="{{ page }}" alt="{{ page }}">
      </div>
    </script>
