    <div ng-show="vm.data.document !== null">
      <div class="row">
        <div class="col-md-4">
          <label>Date</label>
          <p ng-cloak>{{ vm.data.document.date }}</p>
        </div>
        <div class="col-md-4">
          <label>Sender</label>
          <p ng-cloak>{{ vm.data.document.sender }}</p>
        </div>
        <div class="col-md-4">
          <label>Tags</label>
          <p>
            <span ng-repeat="tag in vm.data.document.tags" ng-cloak>
              <span class="label label-primary">{{ tag }}</span>
            </span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Pages</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" ng-repeat="page in vm.data.document.pages" ng-class="{clearfix: ($index % 4 == 0 && $index > 0)}">
          <div class="view-page">
            <a href="" ng-click="vm.viewPage(vm.urls.fileUrl(page))">
              <img class="center-block" ng-src="{{ vm.urls.thumbnailUrl(page) }}" alt="{{ vm.page }}">
            </a>
          </div>
        </div>
      </div>
      <div class="row top10">
        <div class="col-md-12">
          <label>Actions</label>
          <div>
            <button type="button" class="btn btn-danger" ng-click="vm.deleteDocument()">Delete document</button>
          </div>
        </div>
      </div>
    </div>

    <!-- dialogs -->
    <script type="text/ng-template" id="confirmDeleteDocument.html">
      <div class="modal-header">
        <h3 class="modal-title">Delete current document?</h3>
      </div>
      <div class="modal-body">
        The information about this document will be lost, but the pages will be
        kept and considered unorganised. They may be deleted at the Organise page.
        Are you sure?
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" ng-click="vm.ok()">Delete</button>
        <button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
      </div>
    </script>
