      <form enctype="multipart/form-data">
        <div class="row top10">
          <button type="button" class="btn btn-primary btn-xs" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button><input class="pull-left" name="file[]" type="file" multiple="multiple" />
        </div>
      </form>
      <div class="row top30">
        <button type="button" class="btn btn-primary" ng-click="addFileField()">Add more</button>
        <button type="button" class="btn btn-primary" ng-click="upload()">Upload</button>
      </div>
      <div class="row top30">
        <progressbar max="totalSize" value="currentUploaded" ng-class="{'progress-striped': true, 'active': uploadActive}" type="{{uploadState}}"></progressbar>
      </div>
